.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    transition: all .3s;

    backface-visibility: hidden;

    @include respond(tab-port) {
        padding: 2rem;
    }
    
    &__icon {
        margin-bottom: 0.5rem;
        font-size: $default-font-size * 1.5;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    &:hover {
        transform: translateY(-2rem) scale(1.03);
        box-shadow: 0 1rem 2rem rgba($color-black, .3);
    }
    &__text {
        font-weight: 400;
    } 
}