//Styles for basic elements

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @include respond(tab-land) { //Is the width less than 1200
        font-size: 56.25%; //1 rem = 9px, 9/16 = 0.5625
    }
    @include respond(tab-port) { //Is the width less than 900
        font-size: 50%; //1 rem = 8px, 8/16 = 0.5
    }
    @include respond(big-desktop) { //Is the width greater than 1800
        font-size: 75%; //1 rem = 12px, 12/16 = 0.75
    }
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark-1;
    box-sizing: border-box;

    padding: 2rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

::selection { //When text is highlighted by the user
    background-color: $color-primary-dark;
    color: $color-white;
}